.navbar {
  background-color: #ef5350;
  padding: 0;
}

.navbar-brand {
  color: #f0f0f0;
  font-size: 100px;
  padding: 0;
}

.navbar-nav {
  gap: 10px;
}

.nav-link {
  border-radius: 5px;
  color: #f0f0f0;
  font-family: "Agdasima", sans-serif;
  font-size: 25px;
}

.nav-link:hover {
  background-color: #c62828;
  color: #f0f0f0;
}
