.loading {
  align-items: center;
  display: flex;
  flex-direction: column;
}

.loading__icon {
  animation: loadingIcon 1.5s infinite;
  color: #ef5350;
  font-size: 90px;
}

.loading__text {
  font-family: "Lato", sans-serif;
  font-size: 21px;
  font-weight: 100;
}

@keyframes loadingIcon {
  from {
    transform: rotate(0);
  }
  to {
    transform: rotate(360deg);
  }
}
